/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Common */
html{
    font-size: 62.5%;
    font-family:'Montserrat', sans-serif;
}

/* Container */
.container{
    width: 80%;
    margin: 20px auto;
}

/* Header */

.logo{
    height: 8em;
    border-right:2px solid #a5a5a5;
    padding: 1em;
    object-fit:cover;
}

nav li{
    display: inline-block;
    color: #a5a5a5;
    list-style: none;
    font-size: 2em;
    padding: .5em .5em;
    font-weight: 300;
    text-transform: uppercase;
}

/* Main */

/* Sezione 1 */
.section1{
    height: 500px;
    margin: 20px 0;
    border-radius: 2em;
    overflow: hidden;
}

/* Banner*/
.banner{
    width: 100%;
    height: 100%;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.layover{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.banner-text{
    position: absolute;
    bottom: 4em;
    left: 5em;
    color: white;
    width: 50%;
}

.banner-text > h1{
    font-size: 3.5em;
    font-weight: 400;
}

.banner-text > p{
    font-size: 1.5em;
    font-weight: 200;
}

/* Sezione 2 */
.section2{
    margin-bottom: 5px;
}

.section2 .column{
    float: left;
    margin: 15px 0;
}

.section2 .column.side{
    width: 25%;
}

.section2 .column.center{
    width: calc(50% - 30px);
    margin: 15px 15px;
}

/* Section 2 header */
.header > h1{
    font-weight: 800;
    font-size: 3em;
}

.header > h2{
    font-size: 1.5em;
    font-weight: 300;
    color: #a5a5a5;
}

/* Section 2 columns */
.column img{
    height: 20em;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 2em;
    background-color: rgba(0, 0, 0, 0.4);
}

.column h3{
    font-weight: 400;
    font-size: 1.5em;
}

.column p{
    font-weight: 400;
    font-size: 1.2em;
    color: #a5a5a5;
}

/* Footer */
footer h2{
    text-align: center;
    font-weight: 500;
    font-size: 2em;
}

footer span{
    color: red;
    margin-left: .4em;
}

