/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Common */
html{
    font-size: 62.5%;
    font-family:'Montserrat', sans-serif;
}

/* Container */
.container{
    width: 80%;
    margin: 20px auto;
}

/* Header */

.logo{
    height: 8em;
    border-right:2px solid lightgray;
    padding: 1em;
    object-fit:cover;
}

nav li{
    display: inline-block;
    color: lightgray;
    list-style: none;
    font-size: 2em;
    padding: .5em .5em;
    font-weight: 300;
    text-transform: uppercase;
}

/* Main */

/* Sezione 1 */
.section1{
    height: 500px;
    background-color: #e1d67a;
    margin: 20px 0;
}

/* Sezione 2 */
.section2{
    background-color: #0186fe;
    margin-bottom: 5px;
}

.section2 *{
    background-color: #abcfe7;
}

.section2 .header{
    height: 70px;
}

.section2 .column{
    height: 500px;
    float: left;
    margin: 15px 0;
}

.section2 .column.side{
    width: 25%;
}

.section2 .column.center{
    width: calc(50% - 30px);
    margin: 15px 15px;
}

/* Footer */
footer{
    height: 50px;
    background-color: #8801fe;
}